In [1]:
#Import Packages
import pandas as mypd
import numpy as mynp
from sklearn.impute import KNNImputer

In [2]:
#import Data File of kidney_disease
mydata=mypd.read_csv("C:/Users/demo/Desktop/Data Preprocessing/kidney_disease.csv")
mydata.head(3)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.02,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.02,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd

In [3]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 59.4+ KB

In [4]:
#Drop the column ID
mydata=mydata.iloc[:,1:]
#Seprate Object type data type
mydata_object_feat=mydata.select_dtypes(include='object')
mydata_object_feat_name=mydata_object_feat.columns.values
mydata_object_feat_name

array(['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'], dtype=object)

In [5]:
#Import Encoder
from sklearn.preprocessing import OrdinalEncoder
ode=OrdinalEncoder(dtype=int)

In [6]:
#Define Encoding Function
def encode(data):
    #retain non-null values
    nonulls=mynp.array(data.dropna())
    #Convert it into array with one colunm
    nonulls_reshape=nonulls.reshape(-1,1)
    #encode the data
    impute_ordinal=ode.fit_transform(nonulls_reshape)
    #Assignback encoded values to non null values
    data.loc[data.notnull()]=mynp.squeeze(impute_ordinal)
    return(data)

In [8]:
#Call the function
for feat in mydata_object_feat_name:
    encode(mydata[feat])

C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\demo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [10]:
mydata.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,1,0,0,121.0,...,32,72,34,1,4,1,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,NaN,1,0,0,NaN,...,26,56,NaN,0,3,1,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,19,70,NaN,0,4,1,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,20,62,19,1,3,1,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,23,68,27,0,3,1,0,0,0,0

In [14]:
#KNN imputer
knn=KNNImputer(n_neighbors=4)
cleandata=knn.fit_transform(mydata)
#Convert to Data FrameObject
cleandata=mypd.DataFrame(cleandata,columns=mydata.columns)
cleandata.head(10)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0.75,1.0,0.0,0.0,121.0,...,32.0,72.00,34.00,1.0,4.0,1.0,0.0,0.0,0.0,0.0
1,7.0,50.0,1.020,4.0,0.0,0.50,1.0,0.0,0.0,169.5,...,26.0,56.00,28.25,0.0,3.0,1.0,0.0,0.0,0.0,0.0
2,62.0,80.0,1.010,2.0,3.0,1.00,1.0,0.0,0.0,423.0,...,19.0,70.00,28.00,0.0,4.0,1.0,1.0,0.0,1.0,0.0
3,48.0,70.0,1.005,4.0,0.0,1.00,0.0,1.0,0.0,117.0,...,20.0,62.00,19.00,1.0,3.0,1.0,1.0,1.0,1.0,0.0
4,51.0,80.0,1.010,2.0,0.0,1.00,1.0,0.0,0.0,106.0,...,23.0,68.00,27.00,0.0,3.0,1.0,0.0,0.0,0.0,0.0
5,60.0,90.0,1.015,3.0,0.0,0.50,0.5,0.0,0.0,74.0,...,27.0,72.00,25.00,1.0,4.0,1.0,0.0,1.0,0.0,0.0
6,68.0,70.0,1.010,0.0,0.0,0.75,1.0,0.0,0.0,100.0,...,24.0,43.25,26.00,0.0,3.0,1.0,0.0,0.0,0.0,0.0
7,24.0,70.0,1.015,2.0,4.0,1.00,0.0,0.0,0.0,410.0,...,32.0,64.00,31.00,0.0,4.0,1.0,0.0,1.0,0.0,0.0
8,52.0,100.0,1.015,3.0,0.0,1.00,0.0,1.0,0.0,138.0,...,21.0,88.00,21.00,1.0,4.0,1.0,0.0,0.0,1.0,0.0
9,53.0,90.0,1.020,2.0,0.0,0.00,0.0,1.0,0.0,70.0,...,17.0,18.00,17.00,1.0,4.0,1.0,1.0,0.0,1.0,0.0

In [15]:
#export the file
cleandata.to_excel("C:/Users/demo/Desktop/Data Preprocessing/kidney_disease_cleaned.xlsx")